.Navbar {
    display: flex;
    flex-direction: column;
    z-index: var(--fare-z-50);

    &-body {    
        display: flex;
        flex-direction: row;
        align-items: center;
        background-color: var(--fare-color-dark-1000);
        padding: 10px 32px;
        box-shadow: var(--fare-shadow-dark);
    
        &-logo {
            font-size: var(--fare-font-size-30);
            font-weight: 900;
        }

        &-link {
            color: var(--fare-color-light-1000);
            cursor: pointer;
            font-size: var(--fare-font-size-16);

            &:hover {
                color: var(--fare-color-green-1000);
            }
        }
    }
}

.Modal-overlay {
    background-color: rgba(0, 0, 0, .4);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: var(--fare-z-100);
    overflow: hidden;
}

.Modal {
    position: fixed;
    padding: 20px;
    width: 400px;
    z-index: var(--fare-z-1000);
    top: 10%;
    left: 50%;
    margin-left: -200px;
    background-color: var(--fare-color-light-1000);
    border-radius: var(--fare-border-radius-8);
    border: 1px solid rgba(var(--dark), var(--opacity-tint));

    &-large {
        width: 700px;
        margin-left: -350px;
        max-height: 700px;
    }

    &-close {
        display: flex;
        justify-content: right;

        .Icon {
            font-size: var(--fare-font-size-16);
            margin-left: auto;
    
            &:hover {
                cursor: pointer;
                color: var(--fare-color-red-1000);
            }
        }
    }

    &-header {
        font-size: var(--fare-font-size-24);
        margin-bottom: 10px;
    }

    &-subtitle {
        color: var(--fare-color-dark-700);
        font-size: var(--fare-font-size-16);
        border-bottom: 1px solid var(--fare-color-dark-700);
        padding-bottom: 10px;
        margin-bottom: 20px;
      }

    &-content {
        border-radius: var(--fare-border-radius-16);
        color: var(--fare-color-dark-800);
        z-index: 5;
        height: fit-content;
        max-height: 600px;
        overflow-y: auto;
        padding: 10px;
    }

    &-tab {
        cursor: pointer;
        display: flex;

        &-item {
            width: 70px;
            padding-bottom: 5px;
            text-align: center;
            border-bottom: 1px solid var(--fare-color-light-600);
            &-selected {
                color: var(--fare-color-light-1000);
                border-bottom: 3px solid var(--fare-color-light-1000);
            }
            
            &:hover {
                color: var(--fare-color-light-1000);
            }
        }
    }
}

